:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lead {

  color: rgb(red, red, blue);
}



.car {

  width: 50%;
  left: -70%;
  bottom: 5%;
  transform: translateX(100%);
  position: absolute;
  z-index: 2;
}
.car img {
  width: 50%;
  animation: car 60s linear infinite;
  background-repeat: repeat-x;
  

}

@keyframes car 
{
  100%{
    transform: translateX(460%);
  }
}

.animated-text {
  animation: fadeandScale 1s ease-in;
}
@keyframes fadeandScale {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
iframe  {
  pointer-events: none; 
}